# Compiled class file
*.class

*.iml
/target

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.project
/.settings/org.eclipse.m2e.core.prefs
/.settings
/.classpath
*.iml
*.ipr
/.idea
/client-utils/.settings
/client-utils/.classpath
/client-utils/.project
/client-maven-enforcer/.project
/client-maven-enforcer/.classpath
/client-maven-enforcer/.settings
/client-errors/.settings
/client-errors/.classpath
/client-errors/.project
.DS_Store

*.pyc
*.iml
