#!/usr/bin/make -f

export PYBUILD_NAME = nparray
export PYBUILD_INTERPRETERS=python{version}
export PYBUILD_VERSIONS=2.7 3.7

%:
	dh $@ --with python3,python2 --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build .*egg-info *.log *.pid .coverage
